#post_box_containers .post_box{
    background-color: lightcyan;
    margin-bottom: 10px;
    border: thick double #32a1ce;
    padding: 15px;
}

#post_box_containers .post_box:hover{
    background-color: #e1e1e1;
    margin-bottom: 10px;
    border: thick double #e1e1e1;
    padding: 15px;
}

h2{
    font-family: "Comic Sans MS";
    margin-bottom: 50px;
}