#post_box_containers .post_box{
    background-color: lightcyan;
    margin-bottom: 10px;
    border: thick double #32a1ce;
    padding: 10px;
}

h2{
    font-family: "Comic Sans MS";
    margin-bottom: 50px;
}